p{
    background-color: lightgreen;
}

body{
    background-image: url(https://wallpapers.com/images/featured/king-crimson-5u30bgeqo5cuel8g.jpg);
    background-repeat: no-repeat;
    background-size: 100%
}